# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
Thumbs.db
.buildlog/
.history/
.swiftpm/
migrate_working_dir/

# IntelliJ / Android Studio related
*.iml
*.ipr
*.iws
.idea/
.idea/caches/
.idea/modules.xml
.idea/misc.xml

# VS Code related
.vscode/

# Android/Gradle related
**/gradle-wrapper.jar
.gradle/
.kotlin/
build/
app/build/
captures/
.externalNativeBuild/
.cxx/
local.properties
output.json

# Android build artifacts
*.apk
*.aab
*.ap_
*.dex
*.hprof

# Keystores & signing
key.properties
*.jks
*.keystore

# Symbolication / obfuscation related
app.*.symbols
app.*.map.json

# Coverage & tests
coverage/
*.lcov

# Environment - secrets
.env
.env.*
!.env.example
